body {
  background-color: #273159;
}

#banner {
  height: 100vh;
  width: 100vw;
  margin: 0px -15px;
}

#banner ~ h1 {
  color: white;
  font-size: 4em;
  background-color: rgba(39, 49, 89, 0.5);;
  padding: 5px 20px;
  position: absolute;
  left: 5%;
  bottom: 1%;
}

#alt-banner {
  display: none;
  height: 100vh;
  width: 100vw;
  margin: 0px -15px;
}

@media screen and (max-width: 1008px) {
    #banner {
      display: none;
    }

    #alt-banner {
      display: block;
    }
}

/*Quotes section Styling*/
.quotes {
  height: 80vh;
}

.quotes div:nth-child(1) {
  padding-top: 25%;
}

.quotes div:nth-child(2) {
  padding-top: 10%;
  padding-left: 5%;
}

.quotes div:nth-child(3) {
  padding-top: 45%;
}

blockquote {
  border: none;
  color: white;
}

@media screen and (max-width: 1008px) {
  .quotes {
    height: auto;
  }

  .quotes div {
    width: 60%;
    padding-top: 10% !important;
    padding-left: 15px !important;
    clear: both;
    margin: 0px 20%;
  }

  .quotes blockquote {
    font-size: 2em;
  }
}

/*Repo Index Styling*/
.repolist {
  width: 100vw;
  margin-left: -15px;
  padding: 30px 15px 40px 10px;
  background-image: url(../img/book-background.jpeg);
  background-size: cover;
  font-family: 'Rasa', serif;
  border-radius: 10px;
}

.repolist ul {
  columns: 2;
}
.repolist li{

  padding: 5px 10px 20px 5px;
  font-size: 1.5em;
  list-style: none;
}

.repolist strong {
  text-align: left;
}

.repolist a {
  color: black;
}

.repolist a:visited {
  color: black;
}

.repolist a:hover {
  font-style: italic;
  text-decoration: none;
}

.repolist span {
  font-size: .9em;
  font-style: italic;
  padding-right: 5px;
  padding-left: 20px;
}

@media screen and (max-width:1008px) {
  .repolist {
    background-image: url(../img/book-background-half.jpeg);
  }

  .repolist li {
    font-size: 2em;
  }
}

/*About Section Styling*/
.about {
  height: 30%;
  margin-top: 10%;
  padding-bottom: 2%;
  font-family: serif;
  background-color: rgba(255, 255, 255, 0.7);
}

.about p {
  padding: 5% 0;
}

.prof-pic {
  height: 300px;
  width: 300px;
  margin-left: 10%;
  border-radius: 100%;
  float: right;
  background-image: url(../img/me.jpg);
  background-size: cover;
}

.about .panel-heading {
  background-color: rgba(255, 255, 255, 0.5);
}

.about .panel-heading h2 {
  font-size: 2em;
  font-family: cursive;
}

.panel-body p {
  font-size: 1.1em;
  padding: 5px;
}

.panel-body h3 {
  margin-top: 20px;
  font-size: 1.2em;
}

.panel-body ol {
  list-style: none;
  padding-left: 20px;
}

.panel-body strong {
  padding-right: 30px;
}

.panel-body em {
  font-weight: bold;
  padding-right: 10px;
}

.job-adjust1 {
  margin-right: 87px;
}

.job-adjust2 {
  margin-right: 35px;
}

@media screen and (max-width: 1008px) {
  .panel {
    font-size: 2em;
  }

  .job-adjust1 {
    margin-right: 175px;
  }

  .job-adjust2 {
    margin-right: 70px;
  }
}

/*Footer Styling*/
footer {
  color: #6a6c72;
  font-size: .8em;
  padding-top: 20px;
  border-top: 1px solid black;
}
