body {
  background-color: lightgrey;
}

#banner {
  width: 100vw;
  margin: 0px -15px;
}

#banner ~ h1 {
  color: white;
  font-size: 4em;
  background-color: rgba(0, 0, 0, 0.5);;
  padding: 5px 20px;
  position: absolute;
  right: 5%;
  top: 1%;
}

.spacer {
  height: 400px;
}

/*About Section Styling*/
.about {
  height: 30%;
  overflow: hidden;
  padding-bottom: 6%;
  font-family: serif;
}

.about p {
  padding: 5% 0;
}

.prof-pic {
  height: 300px;
  width: 300px;
  margin-left: 10%;
  border-radius: 100%;
  float: right;
  background-image: url(../img/me.jpg);
  background-size: cover;
}

/*Repo Index Styling*/
.repolist {
  width: 100vw;
  margin: 0px -15px;
  padding: 30px 30px 40px 10px;
  background-image: url(../img/book-background.jpeg);
  background-size: cover;
}
.repolist ul {
  columns: 2;
}
.repolist li{
  font-family: 'Rasa', serif;
  padding: 5px 10px 20px 5px;
  font-size: 1.5em;
  list-style: none;
}

.repolist strong {
  text-align: left;
}

.repolist a {
  color: black;
}

.repolist a:visited {
  color: black;
}

.repolist a:hover {
  font-style: italic;
  text-decoration: none;
}

.repolist span {
  font-size: .9em;
  font-style: italic;
  padding-right: 5px;
  padding-left: 20px;
}

@media screen and (max-width:1008px) {
  .repolist {
    background-image: url(../img/book-background-half.jpeg);
  }
}

/*Footer Styling*/
footer {
  font-size: .8em;
  padding-top: 20px;
  border-top: 1px solid black;
}
